#fruit-image{
    height: 200px;
    width: 200px;
    
    box-shadow: 2px 0 10px;
     background-color: #ddddd5;
    
}
#vegetable-image{
   height: 200px;
    width: 200px;
    box-shadow: 2px 0 10px;
     background-color: #ddddd5;
}
#click-button{
    padding:16px 26px;
    margin-left: 50%;
    border:none;
    background-color: rgb(181, 230, 181);
    color: rgb(77, 48, 48);
    border-radius: 5px;
    cursor: pointer;
}